html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  margin-left: auto;
  margin-right: auto; }

body {
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #ffffff; }

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #555555;
  color: #4b8aca;
  text-decoration: none; }

.header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #555555;
  font-size: 40px;
  margin: 30px;
  text-align: left; }
  .header.main {
    text-align: center;
    background-color: #fbfbfb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #f6f6f6);
    background-image: -moz-linear-gradient(top, #fbfbfb, #f6f6f6);
    background-image: -o-linear-gradient(top, #fbfbfb, #f6f6f6);
    background-image: -ms-linear-gradient(top, #fbfbfb, #f6f6f6);
    background-image: linear, top, #fbfbfb, #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fbfbfb', EndColorStr='#f6f6f6');
    border-radius: 5px;
    border: 1px #d5d5d5 solid;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-left: 280px;
    margin-right: 280px;
    min-width: 500px;
    font-size: 80px; }
    .header.main.sub {
      font-size: 16px;
      text-align: center;
      padding: 0px; }
  .header.sub {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555555;
    text-align: left;
    font-size: 25px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px; }

#doc {
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -moz-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -o-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -ms-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: linear, top, #fbfbfb, #f6f6f6;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fbfbfb', EndColorStr='#f6f6f6');
  border-radius: 5px;
  border: 1px #d5d5d5 solid;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

#content, #id {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #555555;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: 280px;
  margin-right: 280px;
  min-width: 500px; }

#content * {
  		/*
  margin-left: auto;
  		margin-right: auto;
  */ }

.button {
  text-decoration: none;
  display: inline-block;
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -moz-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -o-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -ms-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: linear, top, #fbfbfb, #f6f6f6;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fbfbfb', EndColorStr='#f6f6f6');
  color: #4b8aca;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #d5d5d5; }
  .button:hover {
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
    background-image: -o-linear-gradient(top, #fcfcfc, #f2f2f2);
    background-image: -ms-linear-gradient(top, #fcfcfc, #f2f2f2);
    background-image: linear, top, #fcfcfc, #f2f2f2;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#f2f2f2'); }
  .button:active {
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #eeeeee);
    background-image: -moz-linear-gradient(top, #fcfcfc, #eeeeee);
    background-image: -o-linear-gradient(top, #fcfcfc, #eeeeee);
    background-image: -ms-linear-gradient(top, #fcfcfc, #eeeeee);
    background-image: linear, top, #fcfcfc, #eeeeee;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#eeeeee');
    color: #5f9ede; }

#nav {
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -moz-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -o-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: -ms-linear-gradient(top, #fbfbfb, #f6f6f6);
  background-image: linear, top, #fbfbfb, #f6f6f6;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fbfbfb', EndColorStr='#f6f6f6');
  height: 50px;
  border-radius: 5px;
  border: 1px #d5d5d5 solid; }
  #nav #nav-ul {
    list-style: none; }
    #nav #nav-ul li {
      float: left;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      height: 35px;
      border-left: 1px #d5d5d5 solid;
      cursor: pointer; }
      #nav #nav-ul li a {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #555555;
        text-decoration: none; }
      #nav #nav-ul li:hover a {
        color: #4b8aca; }
      #nav #nav-ul li:active {
        background-color: #eeeeee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#fcfcfc));
        background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
        background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
        background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
        background-image: -ms-linear-gradient(top, #eeeeee, #fcfcfc);
        background-image: linear, top, #eeeeee, #fcfcfc;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eeeeee', EndColorStr='#fcfcfc');
        height: 34px; }

#index-div {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50%; }

#index {
  border: 1px #d5d5d5 solid;
  border-left: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.8)), to(rgba(245, 245, 245, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(250, 250, 250, 0.8), rgba(245, 245, 245, 0.8));
  background-image: -moz-linear-gradient(top, rgba(250, 250, 250, 0.8), rgba(245, 245, 245, 0.8));
  background-image: -o-linear-gradient(top, rgba(250, 250, 250, 0.8), rgba(245, 245, 245, 0.8));
  background-image: -ms-linear-gradient(top, rgba(250, 250, 250, 0.8), rgba(245, 245, 245, 0.8));
  background-image: linear, top, rgba(250, 250, 250, 0.8), rgba(245, 245, 245, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='rgba(250,250,250,0.8)', EndColorStr='rgba(245,245,245,0.8)');
  display: block;
  clear: left;
  float: left;
  position: relative;
  min-height: 110px;
  width: 240px;
  margin-top: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #index ul {
    list-style: none;
    overflow-y: scroll;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 175%; }
    #index ul a {
      display: block;
      padding-top: 8px;
      padding-bottom: 8px;
      border-top: 1px solid #d5d5d5;
      padding-left: 10px;
      cursor: pointer; }
      #index ul a.selected {
        background-color: #555555;
        color: white; }
      #index ul a.first {
        border-top: none; }

code {
  background: #ffffff;
  color: #436669;
  border: 1px #d5d5d5 solid;
  padding: 5px;
  border-radius: 5px;
  font-family: monospace;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important; }
  code.data_type {
    color: #6f41a7; }

table {
  border: 1px #d5d5d5 solid;
  border-radius: 5px;
  background: white;
  margin: 0px; }
  table th {
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555555;
    text-align: left;
    padding: 8px;
    font-weight: bold; }
  table td {
    background: #f8f8f8;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555555;
    text-align: left; }
